.modal {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-content {
  position: fixed; 
  top: 80px;       
  right: 20px;     
  background-color: #f5f7ff;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.modal-content h2 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.option, .option1 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.option:hover, .option1:hover {
  background-color: #eaefff;
}

.option img, .option1 img {
  width: 24px;
  height: 24px;
}

.option button, .option1 button {
  border: none;
  background: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
}
.section h4{
  color: #000;

}
.bntconf{
   width: 100%;
  
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: #6a11cb;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.bntconf:hover{
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(37, 117, 252, 0.3);
}

